
@keyframes nextColor {
    0% {
        width: 150px;
        height: 150px;
        margin: auto;
        background-color: blue;
    }
    50% {
        width: 200px;
        height: 50px;
        margin: 0 auto;
        background-color: red;
    } 
    100% {
        width: 400px;
        height: 100px;
        margin: 50px auto;
        background-color: purple;
    }
}

body {
    margin: 0;
}

main {
    width: 150px;
    height: 150px;
    margin: auto;
    background-color: blue;
    animation: nextColor 5s infinite;
}